{
  "root": true,
  "extends": ["eslint:recommended", "plugin:svelte/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "no-unused-vars": "error",
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "extraFileExtensions": [".svelte"],
  },
  "env": {
    "webextensions": true,
    "browser": true,
    "es2017": true,
    "node": true,
  },
  "globals": {
    "chrome": true,
  },
}
