# --- Dépendances ---
node_modules/

# --- WXT & Build
.wxt/
dist/
.output/
*.zip

# --- Logs ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Environment Variables ---
.env
.env.*.local

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Fichiers temporaires ---
tmp/
*.local